# node/js
node_modules/

# Emacs
*~
\.emacs.desktop
**/emacs.d/straight
**/emacs.d/elpa
**/emacs.d/eshell
**/emacs.d/places
.lsp-*

# Python
.mypy_cache

# rbenv
conf/rbenv

# n
conf/n

# zsh
conf/zsh/zshrc_extended

# coc
**/coc/extensions/
**/coc/history.json
**/coc/memos.json
**/coc/mru
**/coc/lists
