[submodule "conf/vim/vim/pack/plugins/start/syntastic"]
	path = conf/vim/vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "conf/vim/vim/pack/plugins/start/vim-prettier"]
	path = conf/vim/vim/pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
