# node/js
node_modules/

# Emacs
*~
\.emacs.desktop
conf/emacs/emacs.d/
!conf/emacs/emacs.d/init.el
!conf/emacs/emacs.d/config/

# Vim
*.swo

# Python
.mypy_cache

# rbenv
conf/rbenv

# n
conf/n

# npm
conf/npm

# zsh
conf/zsh/zshrc_extended

# coc
conf/coc/
!conf/coc/coc-settings.json
