<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="androidstudio" />
  <package id="anki" />
  <package id="brave" />
  <package id="chocolateygui" />
  <package id="calibre"
           version="4.23.0" />
  <package id="cryptomator" />
  <package id="drawio" />
  <package id="docker-desktop" />
  <package id="f.lux" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="foxitreader"
           version="11.1.0.52543" />
  <package id="gimp" />
  <package id="gh" />
  <package id="git" />
  <package id="graphviz" />
  <package id="intellijidea-community" />
  <package id="itunes" />
  <package id="joplin" />
  <package id="javaruntime" />
  <package id="keepassxc" />
  <package id="libreoffice-fresh" />
  <package id="mendeley" />
  <package id="microsoft-windows-terminal" />
  <package id="miktex" />
  <package id="obs-studio" />
  <package id="openaudible" />
  <package id="powershell-core" />
  <package id="protonvpn" />
  <package id="rancher-desktop" />
  <package id="shotcut" />
  <package id="signal" />
  <package id="slack" />
  <package id="steam-client" />
  <package id="syncthing"
           version="1.19.2" />
  <package id="texstudio" />
  <package id="vagrant" />
  <!-- required for WSL2 GUI interaction on win10 -->
  <package id="vcxsrv" />
  <package id="virtualbox"
           version="6.1.26" />
  <package id="vscodium" />
  <package id="zoom" />
</packages>
