<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="brave" />
  <package id="calibre" />
  <package id="chocolateygui" />
  <package id="cryptomator" />
  <package id="f.lux" />
  <package id="firefox" />
  <package id="foxitreader"
           version="11.1.0.52543" />
  <package id="git" />
  <package id="itunes" />
  <package id="keepassxc" />
  <package id="syncthing" />
</packages>