<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="brave" />
  <package id="chocolateygui" />
  <package id="calibre" version="4.23.0" pinPackage="true" />
  <package id="cryptomator" />
  <package id="f.lux" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="foxitreader" version="11.1.0.52543" pinPackage="true" />
  <package id="joplin" />
  <package id="javaruntime" />
  <package id="keepassxc" />
  <package id="libreoffice-fresh" />
  <package id="microsoft-windows-terminal" />
  <package id="powershell-core" />
  <package id="protonvpn" />
  <package id="signal" />
  <package id="syncthing" />
  <package id="thunderbird" />
  <package id="zoom" />
</packages>
